body{
    margin: 0px;
    padding: 0px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
header nav a :hover{
    text-decoration: underline;
    color: aliceblue;
}
header{
    background-color: black;
    box-shadow: 0px 5px 0px;
}
nav img{
    width: 100px;
    padding-left: 200px;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.z{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.z img{
    width: 200px;
    display: flex;
}
.z h1{
    padding-left: 250px;
}
footer{
    display: flex;
    justify-content: center;
 background-color: black;
}
footer p{
    color: aliceblue;
}
.x{
   text-align: center;
}
.x p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}
.b{
    margin: 50px;
    border-radius: 20px;
    width: 250px;
    box-shadow: 0px 5px 5px ;
    text-align: center;
    background-color: rgb(175, 175, 175);
    padding: 0.5px;
}
.n{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.n a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.n a :hover{
    text-decoration: underline;
}
.x img{
    width: 350px;
    border-radius: 20px;
}