body{
    margin: 0px;
    padding: 0px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
header nav a :hover{
    text-decoration: underline;
    color: aliceblue;
}
header{
    background-color: black;
    box-shadow: 0px 5px 0px;
}
nav img{
    width: 100px;
    padding-left: 200px;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
div h1{
    padding-top: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 2px;
    font-size: 30px;
}
div img{
    width: 200px;
    border-radius: 15px;
}
.x{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.x p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.y{
    display: flex;
    flex-direction: column;
    
}
.c{
    text-decoration: solid;
    text-shadow: 0px 0px 2px;
}
.card{
 margin: 20px;
 width: 300px;
 border-radius: 20px;
 overflow: hidden;
 box-shadow: 0px 5px 5px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.card h2{
    font-size: 25px;
}
.card-content{
 padding: 10px;
}
.card img{
 width: 100%;
}
.v{
    display: flex;
    justify-content: space-evenly;
}
footer{
    display: flex;
    justify-content: center;
 background-color: black;
}
footer p{
    color: aliceblue;
}
.b{
    margin: 20px;
    border-radius: 20px;
    width: 150px;
    box-shadow: 0px 5px 5px ;
    text-align: center;
    background-color: rgb(175, 175, 175);
    padding: 0.5px;
}
.b p{

}
.n{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.n a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.n a :hover{
    text-decoration: underline;
}
.card-content h2{
    padding-top: 10px;
}
.card :hover{
    transform: scale(1.05);  
}