body{
    margin: 0px;
    padding: 0px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
} 
nav a :hover{
    text-decoration
}
header{
    background-color: black;
    box-shadow: 0px 5px 10px;
}
nav img{
    width: 150px;
    padding-left: 150px;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.card{

}
div h1{
    padding-top: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 2px;
}
.x{
 width: 250px;
}
